<div class="container-fluid">
  <div class="title py-5">
    <h1 class="text-center">Est. Sal y Sabor 2035</h1>
  </div>
  <!-- inicio de enlace -->
  <div class="navbar d-flex justify-content-center w-100">
    <nav class="navbar navbar-expand-lg bg-body-tertiary w-100">
      <div class="container d-flex justify-content-around">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-around" id="navbarNav">
          <ul class="navbar-nav justify-content-around w-100">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  

  
  <!-- fin de navegador -->
</div>