<!-- portada -->
<div class="container-fluid d-flex justify-content-center my-5">
    <div class="position-relative col-12 col-md-8">
        <img src="https://www.goya.com/media/4126/cazuela-de-mariscos_spanish-style-shellfish-stew.jpg?quality=80" alt=""
            class="img-fluid w-100">
        <h3
            class="position-absolute top-50 start-50 translate-middle text-white bg-dark bg-opacity-50 text-center p-3 rounded">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </h3>
    </div>
</div>

<!-- descripcion -->
<div class="descripcion ">
    <div class="container">
        <p class="text-center fs-2"><b>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi consequatur
                fuga distinctio voluptatibus, voluptas repellendus ipsam soluta error, nostrum eos nesciunt unde! Sed,
                minima! Unde maiores similique odio dolores consectetur.</b></p>
    </div>
</div>

<!-- platillos -->
<div class="fondo">
    <div class="d-flex justify-content-center ">
        <div class="row w-75 d-flex align-items-center">
            <div class="imagen col d-flex justify-content-center ">
                <img src="https://png.pngtree.com/png-clipart/20230927/original/pngtree-stack-of-hamburger-falling-down-fast-food-and-restaurant-concept-3d-png-image_13140545.png"
                    alt="">
            </div>
            <div class="col">
                <h3>
                    las favorita de los fans
                </h3>
                <h1>
                    pasta carbonara al
                </h1>
                <p class="detall">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos modi natus, ducimus provident
                    est
                    quidem beatae? Iure amet, error ipsam, maxime quae et ipsa, quam illum fugit odio debitis
                    consequuntur?
                </p>
                <button type="submit"> ver menu</button>
            </div>

        </div>
    </div>
    <div class="d-flex justify-content-center ">
        <div class="row w-75 d-flex align-items-center">
            <div class="col">
                <h3>
                    las favorita de los fans
                </h3>
                <h1>
                    pasta carbonara al
                </h1>
                <p class="detall">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos modi natus, ducimus provident
                    est
                    quidem beatae? Iure amet, error ipsam, maxime quae et ipsa, quam illum fugit odio debitis
                    consequuntur?
                </p>
                <button type="submit"> ver menu</button>
            </div>
            <div class="imagen col d-flex justify-content-center ">
                <img src="https://png.pngtree.com/png-clipart/20230927/original/pngtree-stack-of-hamburger-falling-down-fast-food-and-restaurant-concept-3d-png-image_13140545.png"
                    alt="">
            </div>

        </div>
    </div>

</div>
<!-- subtitulos d eimagenes  -->

<div>
    <div class="container">
        <p class="text-center fs-2"><b>Momentos sal y sabor</b></p>
        <p class="detall">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, deleniti odio aliquam, minima consequatur
            culpa officiis repellendus mollitia praesentium velit debitis, distinctio delectus placeat quisquam beatae
            sed incidunt! Ut, sunt.
        </p>
    </div>
</div>
<!-- imagenes de referencia -->
<div class="col ">
    <div class="row d-flex justify-content-center">
        <img class="w-25" src="https://www.shutterstock.com/image-photo/dill-served-on-sea-bass-600nw-2208563399.jpg"
            alt="">
        <img class="w-25" src="https://www.shutterstock.com/image-photo/dill-served-on-sea-bass-600nw-2208563399.jpg"
            alt="">
    </div>


    <div class="row d-flex justify-content-center pt-2"><img class="w-25"
            src="https://www.shutterstock.com/image-photo/dill-served-on-sea-bass-600nw-2208563399.jpg" alt="">
        <img class="w-25" src="https://www.shutterstock.com/image-photo/dill-served-on-sea-bass-600nw-2208563399.jpg"
            alt="">
    </div>
    <div class="row d-flex justify-content-center pt-2"><img class="w-25"
            src="https://www.shutterstock.com/image-photo/dill-served-on-sea-bass-600nw-2208563399.jpg" alt="">
        <img class="w-25" src="https://www.shutterstock.com/image-photo/dill-served-on-sea-bass-600nw-2208563399.jpg"
            alt="">
    </div>
</div>

